{
    "SessionSecret": "<reducted>",
    "MethodOverrideKey": "<reducted>",
    "PassportCallbackBase": "http://127.0.0.1:3000/auth/",
    "Google": {
        "ClientId": "<reducted>",
        "ClientSecret": "<reducted>",
        "Callback": "google/callback",
        "PassportScope": ["https://www.googleapis.com/auth/userinfo.profile", "https://www.googleapis.com/auth/userinfo.email"]
    }
}